.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #F96167;
  }
  
  .signup-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F9E795;
  }
  
  .signup-form h2 {
    text-align: center;
  }
  
  .signup-form label {
    display: block;
    margin-top: 10px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .signup-form button {
    width: 100%;
   
  }